<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header-logo">
                    <img src="../static/img/120x80.png" />
                </div>
 


                <form action="#" class="search">
                    <input class="search-input" type="text" placeholder="Wyszukaj.." name="search">
                    <button class="btn search-btn" type="submit"><i class="fas fa-search"></i></button>
                </form>     

                <nav class="nav">
                    <i class="fas fa-bars fa-2x" id="menu-icon"></i>
                    <ul class="list">
                        <li class="list__item"><a href="#">Strona główna</a></li>
                        <li class="list__item"><a href="#">Wszystkie obiekty</a></li>
                        <li class="list__item"><a href="#">Kontakt</a></li>
                        <li class="header-links">
                            <a class="link">
                                <span><i class="far fa-user fa-lg"></i></span>
                                <span class="link-text">Zaloguj</span>
                            </a>
                            <span class="link-text">/</span>
                            <a class="link">
                                <span class="link-text">Zarejestruj</span>
                            </a>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </nav>

            </header>


            <!-- 
            <footer class="footer">
                <ul class="list">
                    <li class="list__item"><a href="#">Item 1</a></li>
                    <li class="list__item"><a href="#">Item 2</a></li>
                    <li class="list__item"><a href="#">Item 3</a></li>
                    <li class="list__item"><a href="#">Item 4</a></li>
                </ul>
            </footer> -->
        </div>

        <!-- <script type="text/javascript" src="menu.js"></script> -->

    </body>
</html>